@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('img.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

/* Styles for message containers */
.message-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  width: 400px;
  max-height: 80vh;
  overflow-y: auto;
  color: #333;
}

h2 {
  margin-top: 0;
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
}

input, textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: none;
  height: 100px;
}

#mensagem {
  margin-top: 20px;
}

.message {
  background-color: #f8f9fa;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
}

.message h3 {
  font-size: 18px;
  padding: 5px;
  margin-bottom: 5px;
  color: #333;
}

#titulo {
  margin-bottom: -10px;
}