@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('img.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

body.dark-theme {
  background-color: #333;
  color: #fff;
}

/* Styles for message containers */
.message-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  width: 400px;
  max-height: 80vh;
  overflow-y: auto;
  color: #333;
}

h2 {
  margin-top: 0;
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
}

input, textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: none;
  height: 100px;
}

#mensagem {
  margin-top: 20px;
}

.message {
  background-color: #f8f9fa;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
}

.message h3 {
  font-size: 18px;
  padding: 5px;
  margin-bottom: 5px;
  color: #333;
}

#titulo {
  margin-bottom: -10px;
}


.message-display {
  position: relative;
  top: 10px;
  left: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  width: 400px;
  max-height: 80vh;
  overflow-y: auto;
  color: #333;

  h2 {
    font-size: 20px;
  }
  div{
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    
    
  }
}

/* Container para o botão de alternância de tema */
.theme-toggle-container {
  position: fixed;
  top: 30px;
  right: -200px;
  z-index: 1000;
}

/* Ajustar o tamanho do botão de alternância de tema */
#theme-toggle-button {
  font-size: 12px;
  width: 3em; /* Ajuste conforme necessário */
  cursor: pointer;
}

#theme-toggle-button svg {
  width: 20%;
  height: 20%;
}

#toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

#container,
#patches,
#stars,
#button,
#sun,
#moon,
#cloud {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.25s;
}

#toggle:checked + svg #container {
  fill: #2b4360;
}

#toggle:checked + svg #button {
  transform: translate(28px, 2.333px);
}

#sun {
  opacity: 1;
}

#toggle:checked + svg #sun {
  opacity: 0;
}

#moon {
  opacity: 0;
}

#toggle:checked + svg #moon {
  opacity: 1;
}

#cloud {
  opacity: 1;
}

#toggle:checked + svg #cloud {
  opacity: 0;
}

#stars {
  opacity: 0;
}

#toggle:checked + svg #stars {
  opacity: 1;
}
